* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.history-page {
  padding: 20px;
  background: #f6f7fb;
  min-height: 100vh;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* list */
.history-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* card */
.history-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: white;
  padding: 15px;
  border-radius: 14px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.left {
  display: flex;
  gap: 12px;
  align-items: center;
}

/* icon */
.icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;

  background: #eef1f6;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

/* texts */
.label {
  text-transform: capitalize;
  font-weight: 600;
}

.date {
  font-size: 12px;
  color: gray;
}

/* money */
.amount {
  font-weight: 700;
}

.green {
  color: #16a34a;
}

.red {
  color: #dc2626;
}

.loading,
.empty {
  text-align: center;
  margin-top: 40px;
  color: gray;
}


@media (max-width: 480px) {
  .history-card {
    padding: 12px;
  }
}
